@model IEnumerable<ProductCategoryViewModel>

<div class="header">
    <!-- container -->
    <div class="container">
        <!-- header-top -->
        <div class="header-top">
            <div class="header-logo">
                <a href="@Url.Action(" Index","Home")"><img src="~/Assets/client/images/logo.png" alt="" /></a>
            </div>
            <div class="header-right">
                <ul>
                    <li class="phone">+371 282 20 760</li>
                    <li class="mail"><a href="mailto:example@mail.com">eony321v@gmail.com</a></li>
                    <li class="checkout">
                        @Html.Action("SummaryCart", "Cart")
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-top -->
        <div class="top-nav">
            <span class="menu"><img src="~/Assets/client/images/menu.png" alt=""></span>
            <ul class="nav">
                <li class="dropdown1">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                @foreach (var parentCategory in Model.Where(m => m.ParentID == null))
                {
                    <li class="dropdown1">
                        <a href="javascript:void(0)">@parentCategory.Name</a>
                        <ul class="dropdown2">
                            @foreach (var childCategory in Model.Where(p => p.ParentID == parentCategory.ID))
                            {
                                if (childCategory.ParentID == 1)
                                {
                                    <li>@Html.ActionLink(childCategory.Name, "List", "Product", new { category = childCategory.Alias }, null)</li>
                                }
                            }
                        </ul>
                    </li>
                }
                <li class="dropdown1">
                    <a href="men.html">SALE</a>
                    <ul class="dropdown2">
                        <li><a href="men.html">Clothing</a></li>
                        <li><a href="men.html">Footwear</a></li>
                        <li><a href="men.html">Watches</a></li>
                        <li><a href="men.html">Accessories</a></li>
                    </ul>
                </li>
                <li><a href="about.html">ABOUT US</a></li>
                <li><a href="404.html">SUPPORT</a></li>
            </ul>
        </div>
        <div class="search">
            <form>
                <input type="text" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}" required="">
            </form>
        </div>
        <div class="clearfix"> </div>
        <!-- script-for-menu -->
        <script>
            $("span.menu").click(function () {
                $(" ul.nav").slideToggle("slow", function () {
                });
            });
        </script>
    </div>
    <!-- //container -->
</div>